* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "etna";
    src: url("/assets/fonts/etna.otf") format("otf");
}

body {
    background-color: #1c275e;
    height: 100vh;
}


h1 {
    font-size: 3rem;
    color: #5ED7D4;
}

h2 {
    font-size: 2rem;
    color: aliceblue;
}

p {
    font-size: 1rem;
    color: #06E3A4;
}


.container {

    --padding: 10rem;

    padding-left: var(--padding);
    padding-right: var(--padding);

}

button {
    background-color: #06E3A4;
    border-radius: 2rem;
    border: none;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

button:hover {
    background-color: #06c28d;
}

input {
    background-color: #0F1535;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border : none;
    color: #06E3A4;
}