nav {
    background-color: #2E3D8D;
    padding: 1em;
    user-select: none;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
}

nav input {
    background-color: #0F1535;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border : none;
    color: #06E3A4;
    width: 20%;
=======
    align-items: center;
>>>>>>> 82266a6b6aa0b81607b4aafbf2830f23f710a174
}

nav img {
    width: 3rem;
    pointer-events: none;
<<<<<<< HEAD

}
=======
}

>>>>>>> 82266a6b6aa0b81607b4aafbf2830f23f710a174
