nav {
    background-color: #2E3D8D;
    padding: 1em;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 3rem;
    pointer-events: none;
}

